* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-background: rgb(233, 245, 223);
    --main-font: 'Leckerli One', cursive;
    --main-font-colour: rgb(99, 170, 251);
    --gameboard-background: rgb(217, 237, 255);
    --gameboard-font: 'Secular One', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    transform: scale(1.1);
}

body {
    font-family: var(--gameboard-font);
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 5fr 1fr;
    background-color: var(--main-background);
    color: var(--main-font-colour);
}

.header {
    padding-top: 75px;
    justify-self: center;
}

.header > h1 {
    font-family: var(--main-font);
    font-size: 65px;
    color: var(--main-font-colour);
}

.game-board {
    background-color: var(--gameboard-background);
    height: 500px;
    width: 500px;
    border: 4px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-square {
    display: grid;
    border: 4px solid rgb(255, 255, 255);
    font-size: 75px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.result-display,
.player-display {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-display > p,
.player-display > p {
    justify-content: center;
}

#play-again {
    padding-top: 15px;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.play-again .hidden {
    display: none;
}

.footer {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    margin-top: auto;
}